a:link{
    color: #1900ff;
}
a:visited{
    color: #1900ff;
}
.imglinks{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}
.imglinks p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.imglinks:hover p{
    opacity: 1;
}
.imglinks:hover img{
    opacity: .33;
}
*{
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', serif;
    margin-right: 5px;
    margin-bottom: 10px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.homeredirect{
    padding: 50px;
}
.imgs{
    padding: 10px;
}
.aboutme{
    align-content: center;
    justify-content: space-between;
}
body{
    background-color: #00ffff;
}
h1{
    text-align: center;
    background-color: #f0f0f0;
    color: #ff0000;
    text-decoration: wavy;
    padding: 10px;
}
h2{
    color: #0000ff;
}
.header{
    display: flex;
    justify-content: center;
}
p, ol{
    font-size: 21px;
}
.restbody{
    background-color: #ffc000;
    padding-bottom: 10px;
}